/* ANIMATION CLASS */
.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
}

.rotRight {
    animation-name: rotRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden !important;
}

.rotLeft {
    animation-name: rotLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden !important;
}

.movRight {
    animation-name: movRight;
    animation-duration: 1s;
}

.movLeft {
    animation-name: movLeft;
    animation-duration: 1s;
}

.movRightEase {
    animation-name: movRightEase;
    animation-duration: 1s;
}

.movLeftEase {
    animation-name: movLeftEase;
    animation-duration: 1s;
}

.movDown {
    animation-name: movDown;
    animation-duration: 1s;
}

.movUp {
    animation-name: movUp;
    animation-duration: 1s;
}

.movUpEase {
    animation-name: movUpEase;
    animation-duration: 1s;
}

.movDownEase {
    animation-name: movDownEase;
    animation-duration: 1s;
}

/* HELPERS */

/* --hover */
.hover,
.hover:link,
.hover:visited {
    transition: all 0.3s;
    /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)  !important; */
}

.hover:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* --loop */
.loop {
    animation-iteration-count: infinite;
}

/* helper */
.border {
    display: inline-block;
    border: 1px black solid;
    text-align: center;
    margin-top: 100px;
}

/* ANIMATION KEYFRAMES */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotRight {
    0% {
        transform: rotate(0deg);
    }
    
    75% {
        transform: rotate(380deg);
    }
    
    90% {
        transform: rotate(375deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotLeft {
    0% {
        transform: rotate(0deg);
    }
    
    75% {
        transform: rotate(-380deg);
    }
    
    90% {
        transform: rotate(-375deg);
    }
    
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes movRight {
    0% {
        transform: translateX(-30px);
    }
    
    70% {
        transform: translateX(3px);
    }
    
    100% {
        transform: translate(0);
    }
}

@keyframes movLeft {
    0% {
        transform: translateX(30px);
    }
    
    70% {
        transform: translateX(-3px);
    }
    
    100% {
        transform: translate(0);
    }
}

@keyframes movRightEase {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    
    70% {
        opacity: 1;
        transform: translateX(3px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes movLeftEase {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    
    70% {
        opacity: 1;
        transform: translateX(-3px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes movDown {
    0% {
        transform: translateY(-30px);
    }
    
    70% {
        transform: translateY(3px);
    }
    
    100% {
        transform: translate(0);
    }
}

@keyframes movUp {
    0% {
        transform: translateY(30px);
    }
    
    70% {
        transform: translateY(-3px);
    }
    
    100% {
        transform: translate(0);
    }
}

@keyframes movDownEase {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    
    70% {
        opacity: 1;
        transform: translateY(3px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes movUpEase {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    
    70% {
        opacity: 1;
        transform: translateY(-3px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}